Please provide a deck from <%= link_to "NetrunnerDB", "https://netrunnerdb.com"%>
<p>
<%= form_tag('/deck', method: "get") do %>
  <%= label_tag(:q, "Deck id or link") %>
  <%= text_field_tag(:id) %>
  <%= label_tag(:q, "Private?") %>
  <%= check_box_tag :private %>
  <%= submit_tag("Get pdf") %>
<% end %>

<%= form_tag('/card', method: "get") do %>
  <%= label_tag(:q, "Card id or link") %>
  <%= text_field_tag(:id) %>
  <%= label_tag(:q, "Quantity") %>
  <%= text_field_tag(:quantity) %>
  <%= submit_tag("Get pdf") %>
<% end %>
